[project]
name = "algomancy-installer"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[project.scripts]
algomancy-installer = "algomancy_installer.main:main"